doctype html
html(lang=en)
	head
		title= "Game"
		script(type="text/javascript" src="//cdn.html5quintus.com/v0.2.0/quintus-all.js")
		script(type="text/javascript" src="/js/game.js")
	body
		canvas#quintus
